$font_base: #231815;
$black: #231815;
$main: #EA5514;
$white: #ffffff;
$yellow: #FFFDF1;
$bg_blue: #EDF3F7;

$font: source-han-sans-japanese, sans-serif;
$century: "century-gothic", sans-serif;
$bellefair:"Bellefair", serif;
$duration: .3s;
$opacity: .7;