<header class="header_o">
  <h1 class="header_logo">
    <a href="{{ shop.url }}"
      ></a>
    <p></p>
  </h1>
  {% if template == 'product' %}
    <div class="header_nav fadeInTrigger delay02 bg_white">
  {% else %}
    <div class="header_nav fadeInTrigger delay02">
  {% endif %}
    <nav>
      <ul class="nav_container">
        <li><a href="{{ pages.about.url }}">ナガイタマゴについて</a></li>
        <li><a href="/collections/all">商品一覧</a></li>
        <li><a href="{{ pages.faq.url }}">よくあるご質問</a></li>
        <li><a href="{{ pages.contact.url }}">お問い合わせ</a></li>
      </ul>
    </nav>
    <div class="shopbtn">
      <a href="/account/login" class="loginbtn"
        ><span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
            <path d="M11.516 11.5018C14.6973 11.5018 17.274 8.92826 17.274 5.75089C17.274 2.57353 14.6973 0 11.516 0C8.3347 0 5.758 2.57353 5.758 5.75089C5.758 8.92826 8.3347 11.5018 11.516 11.5018ZM11.516 14.3772C7.67253 14.3772 0 16.3038 0 20.1281V21.5659C0 22.3566 0.647775 23.0036 1.4395 23.0036H21.5925C22.3842 23.0036 23.032 22.3566 23.032 21.5659V20.1281C23.032 16.3038 15.3595 14.3772 11.516 14.3772Z"/>
          </svg></span>ログイン</a>
      <a href="/cart" class="loginbtn"
        ><span>
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
            <path d="M18 18C18.5967 18 19.169 18.2371 19.591 18.659C20.0129 19.081 20.25 19.6533 20.25 20.25C20.25 20.8467 20.0129 21.419 19.591 21.841C19.169 22.2629 18.5967 22.5 18 22.5C17.4033 22.5 16.831 22.2629 16.409 21.841C15.9871 21.419 15.75 20.8467 15.75 20.25C15.75 19.0012 16.7512 18 18 18ZM0 0H3.67875L4.73625 2.25H21.375C21.6734 2.25 21.9595 2.36853 22.1705 2.5795C22.3815 2.79048 22.5 3.07663 22.5 3.375C22.5 3.56625 22.4437 3.7575 22.365 3.9375L18.3375 11.2163C17.955 11.9025 17.2125 12.375 16.3687 12.375H7.9875L6.975 14.2087L6.94125 14.3438C6.94125 14.4183 6.97088 14.4899 7.02363 14.5426C7.07637 14.5954 7.14791 14.625 7.2225 14.625H20.25V16.875H6.75C6.15326 16.875 5.58097 16.6379 5.15901 16.216C4.73705 15.794 4.5 15.2217 4.5 14.625C4.5 14.2312 4.60125 13.86 4.77 13.545L6.3 10.7887L2.25 2.25H0V0ZM6.75 18C7.34674 18 7.91903 18.2371 8.34099 18.659C8.76295 19.081 9 19.6533 9 20.25C9 20.8467 8.76295 21.419 8.34099 21.841C7.91903 22.2629 7.34674 22.5 6.75 22.5C6.15326 22.5 5.58097 22.2629 5.15901 21.841C4.73705 21.419 4.5 20.8467 4.5 20.25C4.5 19.0012 5.50125 18 6.75 18ZM16.875 10.125L20.0025 4.5H5.7825L8.4375 10.125H16.875Z"/>
          </svg></span
        >カート</a
      >
    </div>
    <div class="burger-btn">
      <span class="bar bar_top"></span>
      <span class="bar bar_mid"></span>
      <span class="bar bar_bottom"></span>
      <span class="menu_text">メニュー</span>
    </div>
    <!-- burger-btn -->
  </div>
  <!-- header_nav -->
</header>
