<main>
  <section class="pages_lead dark">
    <div class="wrapper">
      <h2 class="pages_ttl fadeUpTrigger">
        <p class="en">FAQ</p>
        <p class="jp">よくあるご質問</p>
      </h2>
    </div>
  </section>

  <section class="pages_other bg_y">
    <div class="bg_other fadeUpTrigger">
      <div class="min-wrapper">
        <div class="inner_btn">
          <a href="#pay" class="btn white"><span></span>ご注文・お支払いについて</a>
          <a href="#transport" class="btn white"><span></span>配送・送料について</a>
          <a href="#return" class="btn white"><span></span>返品・交換について</a>
        </div>
        <div class="faq_contents" id="pay">
          <h3 class="faq_ttl">
            <span class="en">FAQ 01</span>
            <p class="jp">ご注文・お支払いについて</p>
          </h3>
          <div class="faq_accordion">
            <ul class="accordion-area">
              <li class="top_line">
                <section class="underline">
                  <h3 class="title">電話やFAXで注文できますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">お支払い方法は何がありますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">注文してからどれくらいで発送されますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">注文内容の変更/キャンセルをしたいです。</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">注文したのですが、注文確認のメールが届かないです。</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
            </ul>
          </div>
          <!-- faq_accordion -->
        </div>
        <div class="faq_contents" id="transport">
          <h3 class="faq_ttl">
            <span class="en">FAQ 02</span>
            <p class="jp">配送・送料について</p>
          </h3>
          <div class="faq_accordion">
            <ul class="accordion-area">
              <li class="top_line">
                <section class="underline">
                  <h3 class="title">送料、手数料はかかりますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">日付指定できますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">複数の配送先に送りたいのですが、できますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">配送の状況はどこから確認できますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">海外への発送は可能ですか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">別々に注文した商品を同梱できますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
            </ul>
          </div>
          <!-- faq_accordion -->
        </div>
        <div class="faq_contents" id="return">
          <h3 class="faq_ttl">
            <span class="en">FAQ 03</span>
            <p class="jp">返品・交換について</p>
          </h3>
          <div class="faq_accordion">
            <ul class="accordion-area">
              <li class="top_line">
                <section class="underline">
                  <h3 class="title">商品を返品・交換したいです。</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">届いた商品が違うものでした。</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
            </ul>
          </div>
          <!-- faq_accordion -->
        </div>
        <!-- faq_contents -->
      </div>
      <!-- wrapper -->
    </div>
    <!-- bg_other -->
  </section>
  <!-- page_other -->
</main>
