<main>
  <section class="pages_lead dark pageabout_lead">
    <div class="wrapper">
      <h2 class="pages_ttl fadeUpTrigger">
        <p class="en">ABOUT</p>
        <p class="jp">ナガイタマゴについて</p>
      </h2>
    </div>
  </section>

  <section class="page_about bg_y">
    <div class="logo_icon fadeUpTrigger">
      <img
        src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/logo_icon_4d06aeff-cfca-4969-9c8f-db82f7fe6f10.png?v=1718261668"
        alt=""
      >
    </div>
    <div class="message fadeUpTrigger">
      <p class="pc-tb">
        愛知県渥美半島、その豊かな大地と海は、時を超えて人々の生活を支え、<br>
        多くの恵みをもたらしてきました。 <br>
        この地で生まれたナガイタマゴのブランド卵「白黄の灯台」は、<br>
        渥美半島ならではの独特の自然環境と伝統から生まれた、<br>
        新しい形の恵みです。
      </p>
      <p class="pc-tb">
        この卵を生む鶏たちは、ナガイタマゴで大切に育てられ、<br>
        渥美半島の特産品である海苔入りの餌を主食として育ちます。<br>
        海苔は、この地域の海が育んだ、栄養価の高い自然の恵み。<br>
        その海苔を食べることで、鶏たちはより健康に育ち、<br>
        特有の栄養素を卵に蓄えることができます。
      </p>
      <p class="pc-tb">
        良い卵は、水と餌から。<br>
        海のミネラルを含んだ山からの地下水と、海苔入りの飼料で育った<br>
        最高品質の卵を、ぜひご賞味ください。
      </p>
      <p class="ssp">
        愛知県渥美半島。<br>
        その豊かな大地と海は、時を超えて人々の生活を支え、多くの恵みをもたらしてきました。<br>
        この地で生まれたナガイタマゴのブランド卵「白黄の灯台」は、渥美半島ならではの独特の自然環境と伝統から生まれた、新しい形の恵みです。
      </p>
    </div>

    <section class="story fadeUpTrigger" id="about01">
      <h3 class="about_ttl">
        <span class="en">STORY 01</span>
        <p class="jp">
          渥美半島の、<br class="sp">
          温暖な気候と豊かな自然
        </p>
      </h3>
      <div class="story_txt">
        <p>
          ナガイタマゴの卵が生まれる場所、ここ渥美半島は、海と山に囲まれた地域です。<br>
          本州の中でも比較的温暖な地域で、“常春”と呼ばれることも。
        </p>
        <p>
          良い卵は、水と餌が鍵を握ります。<br>
          ブランド卵を産む母鶏は、海のミネラルと山からの豊かな地下水の中で育ち、<br>
          餌に配合している海苔は、山の栄養分が流れた海から採れたものです。<br>
          大量生産はせず、自然の恵みのもと、一つ一つ大事に育てられた卵。<br>
          ぜひご賞味ください。
        </p>
      </div>
      <!-- story_txt -->
      <div class="story_figure">
        <div class="figure pc">
          <img
            src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/about_figure.png"
            alt=""
            width="1500"
            height="879"
          >
        </div>
        <div class="figure sp">
          <img
            src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/about_figure_sp.png"
            alt=""
            width="1500"
            height="879"
          >
        </div>
        <p class="figure_txt">
          海からのミネラル豊富な雨水が、山の大自然で栄養を蓄えまた海へ流れる。<br>
          渥美半島には、豊かな自然の循環ができています。
        </p>
      </div>
    </section>
    <!-- story -->
    <section class="story story_02 fadeUpTrigger" id="about02">
      <h3 class="about_ttl">
        <span class="en">STORY 02</span>
        <p class="jp">
          渥美半島名産の海苔と<br class="sp">
          卵の出会い
        </p>
      </h3>
      <div class="story_txt">
        <p>
          ナガイタマゴのブランド卵「白黄の灯台」は、渥美半島名産の海苔を使用した餌にこだわっています。<br>
          温暖な気候で、海のミネラルと山からの豊かな地下水の中で育った栄養価の高い卵です。
        </p>
        <p>
          元々、卵は栄養価が高い食材として有名ですが、そんな卵でも不足している栄養素が、食物繊維。<br>
          海苔には食物繊維が豊富に含まれているため、ナガイタマゴでは、<br>
          渥美半島名産の海苔を使用した海苔醤油とセットで販売しています。
        </p>
        <p>
          美味しさだけでなく、健康も大事にしてほしい。<br>
          渥美半島の大自然で育まれた食材を、より多くの人に楽しんでほしい。
        </p>
        <p>そんな想いで、商品は生まれました。</p>
      </div>
      <!-- story_txt -->
      <div class="story_02_img">
        <img
          src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/story_02_fugure.png"
          alt=""
          width="800"
          height="424"
        >
      </div>
    </section>
    <!-- story_02 -->
    <section class="story story_03 fadeUpTrigger" id="about03">
      <div class="story_03_contaier">
        <div class="story_03_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/story_03_img.png"
            alt=""
            width="659"
            height="458"
          >
        </div>
        <div class="story_box">
          <h3 class="about_ttl">
            <span class="en">STORY 03</span>
            <p class="jp">ナガイタマゴの、鶏への想い</p>
          </h3>
          <div class="story_txt">
            <p>
              ナガイタマゴでは、鶏たちをヒヨコから育てます。<br>
              鶏数は、約12万3000羽。養鶏業界の中では、決して多くはありませんが、その分手間暇かけて育てています。
            </p>
            <p>その中でも、選ばれた一部の鶏から、最高品質のブランド卵は生まれます。</p>
            <p>
              海と山に囲まれた渥美半島 田原の地で、名産の海苔を配合した餌を食べ、海のミネラルと山の地下水で育まれた鶏。<br>
              大自然の恵みがギュッと詰まった卵をお届けするため、今日も私たちは鶏と卵に向き合います。
            </p>
            <p>
              また、皆さんに新鮮で安心安全な卵をお届けするため、清潔な鶏舎で母鶏たちの健康管理を徹底して行なっています。
            </p>
          </div>
        </div>
        <!-- story_box -->
      </div>
      <!-- story_03_container -->
    </section>
    <!-- story_03 -->
    <!-- about_brand ブランド説明 -->
    <section class="about_brand story">
      <div class="wrapper">
        <div class="about_brand_container">
          <div class="img_logo">
            <img
              src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/about_brand_logo.png"
              alt="渥美半島の海苔と卵の出合い。白黄の灯台"
            >
          </div>
          <div class="about_txt">
            <h3 class="about_ttl">
              <span class="en">ABOUT OUR BRAND</span>
              <p class="jp">
                「白黄の灯台」に込められた想いと<br class="sp">
                ロゴについて
              </p>
            </h3>
            <div class="story_txt">
              <p>
                ナガイタマゴのブランド卵、「白黄の灯台」。<br>
                ロゴは、海・山を表現した背景に灯台の形をしたニワトリで構成されています。<br>
                海・山は、渥美半島の豊かな自然を。<br>
                灯台は、渥美半島にある愛知県最南端の伊良湖岬灯台を表しています。
              </p>
              <p>ブランド卵が身近でありながら健康の道しるべとなる存在であることを表現しています。</p>

              <p>
                ブランド名は、伊良湖岬灯台が白亜の灯台であることから「白黄の灯台」と名付けました。<br>
                みなさんの明日を照らす、渥美半島からの贈り物です。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="wrapper">
      <section class="itemlist_banner fadeUpTrigger">
        <div class="itemlist_banner_img pc-tb">
          <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_list_banner.png" alt="">
        </div>
        <div class="itemlist_banner_img ssp">
          <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_list_banner_sp.png" alt="">
        </div>
        <a href="/collections/all" class="btn white"><span></span>商品一覧</a>
      </section>
    </div>
    <!-- wrapper -->
  </section>
  <!-- page_about -->
</main>
