<main>
  <section class="pages_lead dark">
    <div class="wrapper">
      <h2 class="pages_ttl fadeUpTrigger">
        <p class="en">COMPANY</p>
        <p class="jp">会社概要</p>
      </h2>
    </div>
  </section>
  <section class="pages_other bg_y">
    <div class="bg_other fadeUpTrigger">
      <div class="wrapper">
        <dl class="term_container">
          <dt class="term_hd o_underline">会社名</dt>
          <dd class="term_dd underline">株式会社ナガイタマゴ</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">代表者名</dt>
          <dd class="term_dd underline">永井 隆寛</dd>
        </dl>
        {% comment %}
          <dl class="term_container">
            <dt class="term_hd o_underline">設立</dt>
            <dd class="term_dd underline">19XX年X月</dd>
          </dl>
        {% endcomment %}
        {% comment %}
          <dl class="term_container">
            <dt class="term_hd o_underline">資本金</dt>
            <dd class="term_dd underline">X,000万円</dd>
          </dl>
        {% endcomment %}
        <dl class="term_container">
          <dt class="term_hd o_underline">事業内容</dt>
          <dd class="term_dd underline">鶏卵の生産、販売</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">所在地</dt>
          <dd class="term_dd underline">〒441-3626 愛知県田原市小塩津町中瀬古24番地</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">TEL</dt>
          <dd class="term_dd underline"><a href="tel:098-944-1733">0531-38-0918</a></dd>
        </dl>
        {% comment %}
          <dl class="term_container">
            <dt class="term_hd o_underline">FAX</dt>
            <dd class="term_dd underline"><a href="tel:098-944-4448">098-944-4448</a></dd>
          </dl>
        {% endcomment %}
        <dl class="term_container">
          <dt class="term_hd o_underline">営業時間</dt>
          <dd class="term_dd underline">平日：9:00〜17:00</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">定休日</dt>
          <dd class="term_dd underline">土日祝日</dd>
        </dl>
        <div class="access_map fadeUpTrigger">
          <h3 class="pages_ttl02">アクセスマップ</h3>
          <div class="access_map_item">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27382.75395614806!2d137.06525097740467!3d34.61904101616957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6004e761fef00afb%3A0x2a4e1465ea0d1709!2z44ix44OK44Ks44Kk44K_44Oe44K0!5e0!3m2!1sja!2sjp!4v1717484197474!5m2!1sja!2sjp"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <!-- access_map -->
        </div>
        <!-- access_map -->
      </div>
      <!-- wrapper -->
    </div>
  </section>
  <!-- pages_other -->
</main>
