<main>
  <section class="pages_lead dark">
    <div class="wrapper">
      <h2 class="pages_ttl fadeUpTrigger">
        <p class="en">FAQ</p>
        <p class="jp">よくあるご質問</p>
      </h2>
    </div>
  </section>

  <section class="pages_other bg_y">
    <div class="bg_other fadeUpTrigger">
      <div class="min-wrapper">
        <div class="inner_btn">
          <a href="#pay" class="btn white"><span></span>ご注文・お支払いについて</a>
          <a href="#transport" class="btn white"><span></span>配送・送料について</a>
          <a href="#return" class="btn white"><span></span>返品・交換について</a>
        </div>
        <div class="faq_contents" id="pay">
          <h3 class="faq_ttl">
            <span class="en">FAQ 01</span>
            <p class="jp">ご注文・お支払いについて</p>
          </h3>
          <div class="faq_accordion">
            <ul class="accordion-area">
              <li class="top_line">
                <section class="underline">
                  <h3 class="title">電話やFAXで注文できますか？</h3>
                  <div class="box">
                    <p>
                      ご注文方法はインターネットからのご注文のみとなっております。お電話やFAX、メールでのご注文は承っておりませんのでご了承ください。
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">お支払い方法は何がありますか？</h3>
                  <div class="box">
                    <p>当店では、クレジットカードのみご利用いただけます。</p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">注文してからどれくらいで発送されますか？</h3>
                  <div class="box">
                    <p>
                      ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>
                      ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
                      ※お急ぎの方は、お問い合わせフォームよりご相談ください。
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">注文内容の変更/キャンセルをしたいです。</h3>
                  <div class="box">
                    <p>商品の発送前でしたら対応可能な場合もございます。一度、お問合せフォームよりご相談ください。</p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">注文したのですが、注文確認のメールが届かないです。</h3>
                  <div class="box">
                    <p>
                      当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。<br>
                      ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                      ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                      ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。<br>

                      ●受信拒否の設定をされていませんか？<br>
                      ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                      設定をご確認いただき、受信先を指定されている場合は、「t.nagaitamago@gmail.com」からのメールを受信ドメインにご登録ください。<br>
                    </p>
                  </div>
                </section>
              </li>
            </ul>
          </div>
          <!-- faq_accordion -->
        </div>
        <div class="faq_contents" id="transport">
          <h3 class="faq_ttl">
            <span class="en">FAQ 02</span>
            <p class="jp">配送・送料について</p>
          </h3>
          <div class="faq_accordion">
            <ul class="accordion-area">
              <li class="top_line">
                <section class="underline">
                  <h3 class="title">送料、手数料はかかりますか？</h3>
                  <div class="box">
                    <p>
                      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">日付指定できますか？</h3>
                  <div class="box">
                    <p>
                      お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。
                      お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>
                      ※お急ぎの方は、お問合せフォームよりご相談ください。
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">複数の配送先に送りたいのですが、できますか？</h3>
                  <div class="box">
                    <p>
                      1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">配送の状況はどこから確認できますか？</h3>
                  <div class="box">
                    <p>
                      商品の発送完了後、ご注文時のメールアドレスに「商品を発送いたしました」というメールをお届けしており、メール内に伝票番号を記載しています。配送状況につきましては、ヤマト運輸の荷物お問合せシステムよりご確認いただけます。
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">海外への発送は可能ですか？</h3>
                  <div class="box">
                    <p>申し訳ございませんが、海外への発送は承っておりません。</p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">別々に注文した商品を同梱できますか？</h3>
                  <div class="box">
                    <p>
                      複数回ご注文いただき、かつ発送準備前で、下記の条件に該当する場合は、送料を調整し1件分のご注文としておまとめ可能です。ただし、銀行振込を選択されおり、お支払いが完了している場合など、対応が難しい場合もございます。一度、お問合せフォームよりご相談ください。<br>
                      ・お届け先やお届け日などの情報が同一の場合<br>
                      ・お客さまから同梱を希望される旨をご連絡をいただいた場合
                    </p>
                  </div>
                </section>
              </li>
            </ul>
          </div>
          <!-- faq_accordion -->
        </div>
        <div class="faq_contents" id="return">
          <h3 class="faq_ttl">
            <span class="en">FAQ 03</span>
            <p class="jp">返品・交換について</p>
          </h3>
          <div class="faq_accordion">
            <ul class="accordion-area">
              <li class="top_line">
                <section class="underline">
                  <h3 class="title">商品を返品・交換したいです。</h3>
                  <div class="box">
                    <p>
                      商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
                      不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
                    </p>
                  </div>
                </section>
              </li>
              <li>
                <section class="underline">
                  <h3 class="title">届いた商品が違うものでした。</h3>
                  <div class="box">
                    <p>
                      到着した商品に不備・不良品がありましたらご連絡ください。商品の破損など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。<br>
                      商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。手続きの手順について、ご案内させていただきます。
                    </p>
                  </div>
                </section>
              </li>
            </ul>
          </div>
          <!-- faq_accordion -->
        </div>
        <!-- faq_contents -->
      </div>
      <!-- wrapper -->
    </div>
    <!-- bg_other -->
  </section>
  <!-- page_other -->
</main>
