<main>
  <section class="pages_lead dark">
    <div class="wrapper">
      <h2 class="pages_ttl fadeUpTrigger">
        <p class="en">TERMS</p>
        <p class="jp">特定商取引法に基づく表記</p>
      </h2>
    </div>
  </section>

  <section class="pages_other bg_y">
    <div class="bg_other fadeUpTrigger">
      <div class="wrapper">
        <dl class="term_container">
          <dt class="term_hd o_underline">販売業者</dt>
          <dd class="term_dd underline">株式会社ナガイタマゴ</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">運営統括責任者</dt>
          <dd class="term_dd underline">永井 隆寛</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">所在地</dt>
          <dd class="term_dd underline">〒441-3626 愛知県田原市小塩津町中瀬古24番地</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">TEL</dt>
          <dd class="term_dd underline"><a href="tel:0531-38-0918">0531-38-0918</a></dd>
        </dl>
        {% comment %}
          <dl class="term_container">
            <dt class="term_hd o_underline">FAX</dt>
            <dd class="term_dd underline"><a href="tel:098-944-4448">098-944-4448</a></dd>
          </dl>
        {% endcomment %}
        <dl class="term_container">
          <dt class="term_hd o_underline">メールアドレス</dt>
          <dd class="term_dd underline">t.nagaitamago@gmail.com</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">取扱商品</dt>
          <dd class="term_dd underline">卵</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">販売価格</dt>
          <dd class="term_dd underline">各商品ページをご参照ください</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">
            商品代金以外の<br>
            必要料金
          </dt>
          <dd class="term_dd underline">
            消費税・送料はお客様のご負担となります。<br>
            お支払い方法に銀行振込をご選択いただいた場合、振込手数料はお客様のご負担となりますので、予めご了承ください。また、代金引換をご利用の場合、手数料として330円がかかります。
          </dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">送料について</dt>
          <dd class="term_dd underline">全国一律で1,000円。北海道・沖縄のみ1,700円です。</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">申し込みの有効期限</dt>
          <dd class="term_dd underline">原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">不良品</dt>
          <dd class="term_dd underline">
            商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
            万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
            商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
            不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
          </dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">販売数量</dt>
          <dd class="term_dd underline">特に指定はございません（商品によって設定あり）</dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">引き渡し時期</dt>
          <dd class="term_dd underline">
            決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。
            天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。
          </dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">お支払い方法</dt>
          <dd class="term_dd underline">
            クレジット、代引き、銀行振込をご利用いただけます。※代引き(330円)と振込手数料はお客様負担<br>
            銀行振込をご利用の場合はご注文から【３営業日以内（土日･祝日除く）】にお振込をお願い致します。<br>
            なお、入金期限内にご入金が確認できない場合、<br>
            ご注文は自動キャンセルとなりますので、予めご了承をお願いいたします。<br>
          </dd>
        </dl>
        <dl class="term_container">
          <dt class="term_hd o_underline">返品・交換について</dt>
          <dd class="term_dd underline">
            ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
            商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
            ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまたはお電話にてご連絡いただきますようお願い申し上げます。<br>
            t.nagaitamago@gmail.com<br>
            0531-38-0918 営業時間：9:00～17:00<br>
            商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
          </dd>
        </dl>
      </div>
      <!-- wrapper -->
    </div>
  </section>
  <!-- pages_other -->
</main>
